<!-- <footer id="footer" style="background-color:black;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer info">
                    <h3>website name</h3>
                    <p>hdfgsdhfghdsgjfhgsdjfgjhdsgfhsdgfhdsjhf</p>
                </div>  
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i><a href="#">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i><a href="#">News and Services</a></li>
                        <li><i class="ion-ios-arrow-right"></i><a href="#">FAQS</a></li>
                        <li><i class="ion-ios-arrow-right"></i><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>follow us</h4>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="Facebook"><i class="fa fa-Facebook"></i></a>
                    <a href="#" class="Instagram"><i class="fa fa-Instagram"></i></a>
                    <a href="#" class="Google-plus"><i class="fa fa-Google-plus"></i></a>
                    <a href="#" class="Linkedin"><i class="fa fa-Linkedin"></i></a>
                </div>
                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>jdhkfshdkjfhskjdhfkjshdjfskhfjkshfkshkjfsh</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright text-muted">copyright& copy;website 2018Name</p>
</footer> -->
