/* #footer.footer-top.footer-newsletter input[type="email"]
{
    border:0;
    padding: 6px 8px;
    width:65
} */
/* footer.footer-top .footer-newsletter input[type="enail" ] {
     border: 0; 
     padding: 6px 8px;
      width: 65%; 
}

      #footer.footer-top .footer-newsletter input[type="submit"]{ 
      background: #f4511e;
       border: 0;
        width: 35%;
         padding: 6px 0;
          text-align: center;
           color: #fff;
            transition: 0.3s;
             cursor:pointer;
      }

              #footer .footer-top .footer-newsletter input[type="submit" ]:hover{
               background: #13a456; 
              }

               #footer.copyright{
                text-align: center;
                padding-top: 30px;
}

                 #footer .credits {
                 text-align: center;
                  font-size: 13px;
                   color: #ddd;
} */