<h1 style="margin-left: 35px; margin-top: 25px; font-size: 50px;">Trusted place to sell your car</h1>
<img src="../../assets/images/best-diwali-offers-on-cars.png" width="100%;" class="card-img-top" alt="...">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10" style=" margin-top: 25px;">
           <h4 style="margin-top: 25px; margin-left: 25px;">Why Is Cars4U Store the Right Place to Sell Your Car?</h4>
           <h5 style="margin-top: 25px; margin-left: 25px; color:gray">There are 2 really good reasons you should visit your nearest CarDekho Gaadi Store:</h5>
           </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 25px;">
                <img src="https://stimg.cardekho.com/pwa/img/gaadistore/whysellthree.svg" width="120px;" height="75px;" class="card-img-top" alt="...">
                <h5 style="margin-left: 85px;">Free RC Transfer</h5>
                <h5 style="margin-left: 35px; color:gray;">You don't need to worry about ownership transfer, we do it for FREE</h5>
                </div>
               
          


          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
                <img src="https://stimg.cardekho.com/pwa/img/gaadistore/whysellfour.svg" width="120px;" height="75px;" style="margin-top: 25px;" class="card-img-top" alt="...">
                <h5 style="margin-left: 200px;">Loan Closure Assistance</h5>
                <h5 style="margin-left: 35px; color:gray;">Got a loan on your car? No worries, we offer FREE loan closure assistance</h5>



          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
              <h1 style="margin-left: 55px; margin-top: 35px;">FAQs</h1>
              <h5 style="color:grey; margin-left: 55px; margin-top: 25px;">Get answers to queries regarding selling your car at a CarDekho Gaadi Store</h5>
              <div class="accordion" id="accordionExample">
                    <div class="card" style="margin-top: 35px;">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" style="color: black; font-size: 25px;" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How many cities do you have stores in?
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" style="font-size: 16px; color: grey; line-height: 1.63;">
                                At present, we have 56 stores in 15 cities which include, Delhi-NCR, Bengaluru, Ahmedabad, Hyderabad, Jaipur, Mumbai, Pune, Lucknow, Udaipur, Jodhpur, and Karnal. You'll be seeing a lot more of us and soon.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style="color: black; font-size: 25px;" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What documents should I take to the store to sell my car?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body" style="font-size: 16px;color: gray;">
                                Please carry your car's RC, Insurance, PUC, PAN card, canceled cheque, and government-issued address proof to sell your car.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style="font-size: 25px; color: black;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Will I get a better deal if I sell a fleet of cars?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body" style="font-size: 16px; color: gray;">
                                Each car is inspected, evaluated, and sold individually at a CarDekho Gaadi Store. However, you can connect with the team on 1800-12345-2323 to explore the possibility.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="headingThree">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style="font-size: 25px; color: black;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Can I get my car inspected at home?
                                </button>
                              </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                              <div class="card-body" style="color: gray;font-size: 16px;">
                                    Yes, you surely can. We currently offer home inspection in Delhi-NCR, Mumbai, and Bengaluru right now. You'll just have to pay Rs. 199/inspection.
                              </div>
                            </div>
                          </div>
                          <div class="card">
                                <div class="card-header" id="headingThree">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style="font-size: 25px; color: black;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How can I get information about some good/new offers?
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                  <div class="card-body" style="color: gray; font-size: 16px;">
                                        We share all updates on deals and discounts on our social media channels. Please follow us on Facebook, Twitter, and Instagram to get all updates.
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" style="font-size: 25px; color: black;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Can I sell my commercial car too?
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                      <div class="card-body" style="color: gray; font-size: 16px;">
                                            We don't buy commercial cars as of now. Please keep a tap on our social media channels for updates.
                                      </div>
                                    </div>
                                  </div>
                                  
                  </div>
          </div>
          
          
</div>

</div>


