<h1 style="margin-top: 25px; font-family: roboto,Sans-Serif,Arial;">Car News India-All Latest Car Information And Auto News India</h1>
<div class="container-fluid">
<div class="row">
    <div clas="col-lg-10 col-md-10 col-sm-10" style="margin-top: 25px;">
            <div class="card mb-3" style="max-width: 95%;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/24458/1571142328054/GeneralNews.jpg?tr=w-360" height=100%; class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h2 class="card-title">Cars IN Demand:Alto Leads And S-Presso Pushes Renault Kwid Into Third Place In September 2019 </h2>
                          
                          <p style="font-size:20px; color:gray;">The arrival of the Maruti S-presso has given the whole entry-level segment a push with a growth of more than 80 percent compared to the previous month</p>
                          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                      </div>
                    </div>
                  </div>
        

    </div> 
    <div clas="col-lg-10 col-md-10 col-sm-10" style="margin-top: 25px;">
      <div class="card mb-3" style="max-width: 95%;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/24457/1571140633297/Real-worldMileagecomparison.jpg?tr=w-360" height=100%; class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title">Hyundai Grand i10 Nios vs Ford Figo Diesel-manual: Real-World Performance & Mileage Compared </h2>
                    
                    <p style="font-size:20px; color:gray;">Here’s how Hyundai’s latest hatchback stacks up against the Ford Figo in the real world</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                  </div>
                </div>
              </div>
            </div>
  

</div> 
<div clas="col-lg-10 col-md-10 col-sm-10" style="margin-top: 25px;">
  <div class="card mb-3" style="max-width: 95%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/24456/1571130306600/GeneralNews.jpg?tr=w-360" height=100%; class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Toyota Fortuner And Ford Endeavour Top The Charts In September 2019 Sales</h2>
                
                <p style="font-size:20px; color:gray;">With as many as six models in the segment, here’s a look at how each of them fared in the last month</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
          </div>
        </div>


</div> 
<div clas="col-lg-10 col-md-10 col-sm-10" style="margin-top: 25px;">
  <div class="card mb-3" style="max-width: 95%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://stimg2.cardekho.com/images/carNewsimages/userimages/24449/1570961932125/OfferStories.jpg?tr=w-360" height=100%; class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Diwali Discounts 2019: Best Deals On Cars This Festive Season</h2>
                
                <p style="font-size:20px; color:gray;">The bumper discounts on premium cars will make you want to skip the hatchback and bring home a bigger car this festive season

                </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
          </div>
        </div>


</div> 
</div>
</div>
