<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/why-kei-51455-1920x1080.jpg"class="d-block w-100" height="682px" alt="...">
        <h1 class="heading" style="font-family: poppins; color: blue;">See Your Dream Car</h1>
       </div>
      </div>
</div>
<h1 style="margin-top: 35px;">New Cars In India</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid gray; margin-top: 20px; border-radius: 5px;">
            <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 20px;">
                <h1>latest cars</h1>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-lg-3 col-md-3 col-sm-3" style="float: left;">
                        <div class="card" style="width: 18rem; margin-top:0px;">
                                <img src="../../assets/images/BMW.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">BMW M Series</h5>
                                  <p class="card-text">₹ 1.35 - ₹ 1.55 Cr*</p>
                                  <a href="#" class="btn btn-primary" routerLink = '/bmw'>Get On Road Price</a>
                                </div>
                              </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/images/047.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Datsun GO</h5>
                                  <p class="card-text">₹ 3.35 - ₹ 6.18 Lakh*</p>
                                  <a href="#" class="btn btn-primary" routerLink ='/datsun'>Get On Road Price</a>
                                </div>
                              </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/images/047 (1).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Tata Tigor EV</h5>
                                  <p class="card-text"> ₹ 9.17 - ₹ 13.41 Lakh*</p>
                                  <a href="#" class="btn btn-primary" routerLink ='/tata'>Get On Road Price</a>
                                </div>
                              </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/images/Skoda.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Skoda Octavia</h5>
                                  <p class="card-text">₹ 15.99 - ₹ 25.99 Lakh*</p>
                                  <a href="#" class="btn btn-primary" routerLink='/skoda'>Get On Road Price</a>
                                </div>
                              </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="border:1px solid gray; border-radius:5px; margin-top:80px;">
                <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 65px;">
                    <h1>Upcoming Cars</h1>
                </div>
                <div class="row" style="margin-top: 25px;">
                    <div class="col-lg-3 col-md-3 col-sm-3" style="float: left;">
                            <div class="card" style="width: 18rem;">
                                    <img src="../../assets/images/hill-assist-161.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Tesla Model S</h5>
                                      <p class="card-text">₹ 1.5 - ₹ 1.8 Cr*</p>
                                      <a href="#" class="btn btn-primary" routerLink='/tesla'>Get On Road Price</a>
                                    </div>
                                  </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="card" style="width: 18rem;">
                                    <img src="../../assets/images/rear-right-side-048.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Kia Sportage</h5>
                                      <p class="card-text">₹ 25.0 - ₹ 28.0 Lakh*</p>
                                      <a href="#" class="btn btn-primary" routerLink='/kia'>Get On Road Price</a>
                                    </div>
                                  </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="card" style="width: 18rem;">
                                    <img src="../../assets/images/Tata.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Tata Altroz</h5>
                                      <p class="card-text">₹ 6.0 - ₹ 6.9 Lakh*</p>
                                      <a href="#" class="btn btn-primary" routerLink='/alftoz'>Get On Road Price</a>
                                    </div>
                                  </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="card" style="width: 18rem;">
                                    <img src="../../assets/images/front-right-view-120.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Kia Rio</h5>
                                      <p class="card-text"> ₹ 8.0 - ₹ 8.9 Lakh*</p>
                                      <a href="#" class="btn btn-primary" routerLink='/rio'>Get On Road Price</a>
                                    </div>
                                  </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="border:1px solid gray; margin-top:80px; border-radius: 5px;">
                    <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 65px;">
                        <h1>Most Used Cars</h1>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-lg-3 col-md-3 col-sm-3" style="float: left;">
                                <div class="card" style="width: 18rem;">
                                        <img src="../../assets/images/047 (2).jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Alto 800</h5>
                                          <p class="card-text">₹ 4.14 - ₹ 5.18 Cr*</p>
                                          <a href="#" class="btn btn-primary" routerLink='/alto'>Get On Road Price</a>
                                        </div>
                                      </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="card" style="width: 18rem;">
                                        <img src="../../assets/images/rear-right-side-48.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Swift Dzire</h5>
                                          <p class="card-text">₹ 5.83 - ₹ 8.15 Lakh*</p>
                                          <a href="#" class="btn btn-primary" routerLink='/swift'>Get On Road Price</a>
                                        </div>
                                      </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="card" style="width: 18rem;">
                                        <img src="../../assets/images/rear-right-side-48 (1).jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Wagon R</h5>
                                          <p class="card-text">₹ 5.91 - ₹ 6.88 Lakh*</p>
                                          <a href="#" class="btn btn-primary" routerLink='/wagon'>Get On Road Price</a>
                                        </div>
                                      </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="card" style="width: 18rem;">
                                        <img src="../../assets/images/baleno-rs-1569579265.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Baleno</h5>
                                          <p class="card-text">₹ 5.59 -  ₹ 7.18 Lakh*</p>
                                          <a href="#" class="btn btn-primary" routerLink='/baleno'>Get On Road Price</a>
                                        </div>
                                      </div>
                        </div>
                    </div>
                </div>
              
                    </div>
                    
    
    
    
       

     